@tailwind base;
@tailwind components;
@tailwind utilities;

@import "basic";


:root{
	// --cmsLinkColor: theme('colors.brown.DEFAULT');
}

// clip-path: polygon(60% 0, 100% 80%, 60% 80%, 52% 65%, 35% 100%, 0 100%, 50% 0);

body{
	font-family: 'Fahkwang', 'sans-serif';
	overflow-x: hidden;
	&.is-lock {
		margin-right: 17px;
		overflow: hidden;
	}
}

#topmenuWrap{
	&.is-hide{
		top: -140px;
	}
}

.latestSpace-items{
	.latest-slider{
		clip-path: polygon(87% 0, 100% 83%, 52.2% 83%, 50% 67%, 45.5% 100%, 0 100%, 15% 0);
	}
}
.index-fixed-ani{

}
.index-fixed-logo{
    position: fixed;
    left: calc(50% + 19px);
    transform: translateX(-50%);
    top: -29px;
    transition: all 2s;
    .logo{
    	transition: all 2s;
    }
    &.is-small{
    	.logo{
    		transform: scale(0.28) translate(-67px, 2px);
    	}
    }
    &.is-lock{
    	top: 33.4vh;
    	.logo{
    	}
    }
}
.index-sun{
	width: 2186px;
	height: 1634px;
    background: linear-gradient(180deg, #ffe0ab 0%, white 50%);
	box-shadow: 0 0 60px #ffe0ab;
    border-radius: 50% 50% 0 0;
}
.menuOpen{
	.close{
		color: #fff;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		padding-right: 44px;
		font-size: 12px;
	    letter-spacing: 1px;
	    opacity: 0;
	    transition: all .5s;
	    pointer-events: none;
	}
	&.is-white{
		>ul{
			>li{
				background-color: #fff;
				&:after{
					background-color: #fff;
				}
			}
		}
	}
	&.is-white-fixed{
		>ul{
			>li{
				background-color: #fff !important;
				&:after{
					background-color: #fff !important;
				}
			}
		}
	}
	&.is-open{
		.close{
			opacity: 1;
			pointer-events: auto;
		}
		>ul{
			>li{
				&:nth-child(1){
				    transform: translateY(11px);
				}
				&:nth-child(3){
				    transform: translateY(-11px);
				}
			}
		}
	}
	&.is-hide{
		top: -140px;
	}
	>ul{
		>li{
			transition: all .5s;
			position: relative;
			display: block;
			width: 26px;
			height: 3px;
			background-color: #353434;
			&:after{
				position: absolute;
				content: "";
				width: 12px;
				height: 2px;
				background-color: #353434;
			    bottom: -2px;
    			right: -12px;
			}
		}
	}
}
.time-area{
	.item{
		overflow: hidden;
		width: 200px;
    	height: 250px;
		span{
			display: block;
		}
	}
}
.select-mod{
	.nice-select{
	    font-family: 'Noto Sans TC', 'sans-serif';
		width: 100%;
		float: inherit;
		height: 64px;
		line-height: 64px;
		font-weight: 500;
		border: 1px solid #333333;
		border-radius: 0;
		font-size: 16px;
		&.open{
			&:after{
				transform: rotate(-180deg);
			    margin-top: -20px;
			    right: 18px;
			}
		}
		&:after{
		    background: url('../images/project-arrow.svg') 0 0 / 100% 100% no-repeat;
		    width: 21px;
		    height: 25px;
		    transform: rotate(0deg);
		    border: 0;
		    margin-top: -10px;
		}
		.list{
			width: 100%;
			background-color: #666666;
		    border-radius: 0px 0px 24px 24px;
		    color: white;
		    margin-top: 1px;
		}
		.option{
			padding: 12px 18px;
			border-bottom: 1px solid #fff;
			&:last-child{
				border-bottom: 0;
			}
			&:not(:hover){
				background-color: #666 !important;
			}
			&:hover{
			    color: #666;
    			font-weight: 400;
			}
		}
	}
}
#projectLogin{
	input{
		height: 64px;
		line-height: 64px;
		border: 1px solid #333333;
	    padding-left: 18px;
    	padding-right: 30px;
	}
}
#serviceLogin, #latestForm{
	input{
		background: transparent;
		width: 100%;
		height: 36px;
	}
	.radio-group{
		/*偽元素式*/
		input[type='radio']{
			display: none;
		}
		input[type='radio'] + label{
			font-family: 'Noto Sans TC', 'sans-serif';
			font-size: 18px;
			position: relative;
			display: inline-block;
			vertical-align: top;
			padding-left: 42px;
			cursor: pointer;
			&:before{
				content: '';
				display: block;
				width: 28px;
				height: 28px;
				border: 1px solid #333333;
				margin-right: 10px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				border-radius: 50%;
			}
		}
		input[type='radio']:checked + label{
			&:after{
				content: '';
				display: block;
				width: 18px;
				height: 18px;
				background-color: #333333;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 5px;
				border-radius: 50%;
			}
		}
		&.black{
			input[type='radio'] + label{
				&:before{
					border: 1px solid #333333;
				}
			}
			input[type='radio']:checked + label{
				&:after{
					background-color: #333333;
				}
			}
		}
		&.white{
			input[type='radio'] + label{
				&:before{
					border: 1px solid #ffffff;
				}
			}
			input[type='radio']:checked + label{
				&:after{
					background-color: #ffffff;
				}
			}
		}
	}
	textarea{
		background: transparent;
		width: 100%;
		height: 130px;
	}
}
.sliderbox{
	transform: translateY(100%);
    transition: transform 1s cubic-bezier(.4,.4,.1,1);
	&.is-open{
		transform: translateY(0);
	}
	.swiper-container{
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		
		.swiper-wrapper{
			display: flex;
			transition: transform .8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
		}
		.swiper-slide{
			height: 100%;
			width: auto;
		}
	}
	.swiper-scrollbar{
		width: 100%;
		height: 1px;
		background: #B3B3B3 !important;
		position: static !important;
		.swiper-scrollbar-drag{
			height: 3px;
			top: -1px;
			transition: transform .5s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
			background: #B3B3B3 !important;
		}
	}
}
.sliderbox-news{
	.swiper-container{
		width: 100%;
		height: 100%;
		display: flex;
		position: relative;
		
		.swiper-wrapper{
			display: flex;
		}
		.swiper-slide{
			height: 100%;
			width: auto;
		}
	}
	.swiper-scrollbar{
		width: 100%;
		height: 1px;
		background: #B3B3B3 !important;
		position: static !important;
		.swiper-scrollbar-drag{
			height: 3px;
			top: -1px;
			background: #B3B3B3 !important;
		}
	}
}
.news-pager{
	a{
		color: #888888;
		position: relative;
		&:after{
			position: absolute;
			content: "";
			left: 50%;
			bottom: -2px;
			transform: translateX(-50%);
			width: 12px;
			height: 2px;
			background-color: #000000;
			opacity: 0;
		}
		&.current{
			color: #333333;
			&:after{
				opacity: 1;
			}
		}
	}
}
.project-year{
	z-index: 10;
	.nice-select{
		width: 190px;
		border-radius: 50px;
		border: 1px solid #888888;
		height: 68px;
		line-height: 64px;
		font-size: 18px;
		padding-left: 26px;
		padding-right: 64px;
		&.open{
		    background: #333333;
		    &:after{
		    	background: url('../images/projectall-arrow-white.svg') 0 0 / 100% 100% no-repeat;
				transform: rotate(-180deg);
			    margin-top: -12px;
			    right: 28px;
			}
    		.current{
    			position: relative;
    			color: #fff;
    			display: block;
    			&:before{
    				position: absolute;
    				content: "";
    				width: 100%;
    				height: 2px;
    				background-color: #fff;
    				left: 0;
    				bottom: 16px;
    			}
    		}
		}
		&:after{
		    background: url('../images/projectall-arrow.svg') 0 0 / 100% 100% no-repeat;
		    width: 12px;
		    height: 14px;
		    transform: rotate(0deg);
		    border: 0;
		    margin-top: -6px;
		    right: 24px;
		}
		.list{
			font-family: 'Noto Sans TC', 'sans-serif';
    		z-index: -10;
			font-size: 16px;
		    padding-top: 28px;
	        padding-bottom: 10px;
    		top: 36px;
			width: 100%;
			border-radius: 0 0 34px 34px;
			li{
				position: relative;
			    padding: 0px 26px;
				&:after{
					position: absolute;
					content: "";
					width: calc(100% - 18px);
					bottom: 0;
					height: 1px;
					left: 50%;
					transform: translateX(-50%);
					background-color: rgba(#808080, .25);
				}
				&:last-child{
					&:after{
						content: none;
					}
				}
			}
		}
	}
}
.projectAllWrap{
	article{
		.head-list{
			grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr;
		    grid-gap: 0 60px;
			li{

			}
		}
		.projectAll-items{
			grid-template-columns: 1fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr;
		    grid-gap: 0 60px;
	        min-height: 95px;
			li{

			}
		}
	}
}
.newsInformation{
	grid-template-columns: 1fr 0.7fr 0.7fr;
}
.differentList{
	li{
		position: relative;
		.progress-box{
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			.line{
				background-color: #B0B0B0;
			}
			.progress-bar{
				background-color: #4D4D4D;
			}
		}
	}
}
.corporationList{
	>div{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
.asset-selectWrap{
	z-index: 10;
	.nice-select{
		width: 175px;
		border-radius: 50px;
		border: 1px solid #888888;
		height: 68px;
		line-height: 64px;
		font-size: 18px;
		padding-left: 26px;
		padding-right: 64px;
		&.open{
		    background: #333333;
		    &:after{
		    	background: url('../images/projectall-arrow-white.svg') 0 0 / 100% 100% no-repeat;
				transform: rotate(-180deg);
			    margin-top: -12px;
			    right: 28px;
			}
    		.current{
    			position: relative;
    			color: #fff;
    			display: block;
    			&:before{
    				position: absolute;
    				content: "";
    				width: 100%;
    				height: 2px;
    				background-color: #fff;
    				left: 0;
    				bottom: 16px;
    			}
    		}
		}
		&:after{
		    background: url('../images/projectall-arrow.svg') 0 0 / 100% 100% no-repeat;
		    width: 12px;
		    height: 14px;
		    transform: rotate(0deg);
		    border: 0;
		    margin-top: -6px;
		    right: 24px;
		}
		.list{
			color: #808080;
			font-family: 'Noto Sans TC', 'sans-serif';
    		z-index: -10;
			font-size: 16px;
		    padding-top: 28px;
	        padding-bottom: 10px;
    		top: 36px;
			width: 100%;
			border-radius: 0 0 34px 34px;
		    box-shadow: 0 0 0 1px #888888;
			li{
				position: relative;
			    padding: 0px 26px;
				&:after{
					position: absolute;
					content: "";
					width: calc(100% - 18px);
					bottom: 0;
					height: 1px;
					left: 50%;
					transform: translateX(-50%);
					background-color: rgba(#808080, .25);
				}
				&:last-child{
					&:after{
						content: none;
					}
				}
			}
		}
	}
}
.assetList{
	>li{
		&:nth-child(3n+2){
			padding: 0 12px;
		}
	}
}
#startList{
	>li{
		&:not(:first-child) {
		    clip-path: polygon(125% 0%, 100% 0%, 100% 100%, 100% 100%);
		}
	}
}
#differentList-pics{
	>li{
	   &:not(:first-child) {
		    clip-path: polygon(125% 0%, 100% 0%, 100% 100%, 100% 100%);
		}
	}
}
.man-pic{
	clip-path: polygon(-5% 0%, 100% 0%, 100% 100%, -20% 100%);
}
#picsList{
	>div{
		
	}
}
.submit{
	@keyframes viewmore-arrow{
		0% {
			transform: translateX(0%);
		}
		45.99% {
			transform: translateX(125%);
			opacity: 0
		}
		46% {
			transform: translateX(-125%);
			opacity: 0
		}
		to {
			transform: translateX(0%);
			opacity: 1
		}
	}
	
	&:hover{
		.submit-deco{
			g{
				animation: viewmore-arrow .5s;
			}
		}
	}
}
.go-scroll{
	@keyframes go-scroll{
		0% {
			transform: translateY(0%);
		}
		45.99% {
			transform: translateY(125%);
			opacity: 0
		}
		46% {
			transform: translateY(-125%);
			opacity: 0
		}
		to {
			transform: translateY(0%);
			opacity: 1
		}
	}
	svg{
		animation: go-scroll 1.5s infinite;
	}
}
// transition: width 1s cubic-bezier(.76,0,.24,1);
//     width: 20vw;